.container {
  display: flex;
  height: 100vh;
  flex-direction: row;
  gap: 0px;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.main-container {
  background-color: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 40px;
}

.data-flow-container {
  background-color: none;
  width: 100px;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  align-items: center;
  padding: 0px 0px;
}

.data-flow-item {
  /* background: linear-gradient(to right, #e1e1e1 50%, #cbcbcb 90%); */
  width: 100%;
  height: 0px;
  border-top: 1px solid #e8e8e8;
  display: flex;
  justify-content: start;
  align-items: center;
}

.data-flow-token {
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: #1AFF29;
  border-radius: 20px;
  border: 1px solid #555555;
}

.chip-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: linear-gradient(to bottom, #d0d0d0, #ffffff);
  border-radius: 20px;
  border: 2px solid #cccccc;
}

.chip-container-light {
  position: absolute;
  bottom: 8px;
  width: 8px;
  height: 4px;
  background-color: red;
  border-radius: 20px;
  z-index: 10;
  transition: all 0.4s ease-in-out;
}

.display-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: #2f2f2f;
  border-radius: 20px;
  border: 2px solid #cccccc;
  overflow: hidden;
}

.display-content {
  position: relative;
  width: 153px;
  height: 153px;
  background-color: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.display {
  width: 140px;
  height: 140px;
  background-color: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.main-board {
  opacity: 1;
}

.light-rays-01 {
  transform-origin: center;
  fill: #fff;
  opacity: 0.8;
  animation: light-rays-01 4s linear infinite;
}

@keyframes light-rays-01 {
  0% {
    transform-origin: center;
    transform: translate(-20px, -20px);
    rotate: 45deg;
  }
  100% {
    transform-origin: center;
    transform: translate(200px, 140px);
    rotate: 45deg;
  }
}
